.section.is-skeleton .section-header {
  margin-bottom: 50px;
}

.sk-svg {
  width: 100%;
  height: 100%;
  display: block;
}

/* Hero */
.sk-svg-cover {
  height: 100%;
  width: 100%;
}

.sk-hero-overlay {
  opacity: 0.4;
}

.hero-content-skeleton {
  width: min(100%, 660px);
}

/* Trending, Upcoming */
.skeleton-row {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

/* Now Playing */
.row-top {
  transform: translateX(-20px);
}
.row-bottom {
  transform: translateX(-100px);
}

/* Search */
.section.is-skeleton .search {
  margin-top: 100px;
}

.section.is-skeleton .poster-list--grid {
  margin-top: 50px;
}
