.pagination {
  margin: 50px auto 0;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.pagination-btn,
.pagination-page {
  background: var(--bg-pill);
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.pagination-btn[disabled],
.pagination-page[disabled] {
  cursor: not-allowed;
}

.pagination-pages {
  display: flex;
  gap: 6px;
  align-items: center;
}

.pagination-ellipsis {
  padding: 0 10px;
}

.pagination-page.is-active {
  background: var(--color-primary);
  color: black;
}

.pagination-btn:hover,
.pagination-page:hover {
  outline: 1px solid var(--color-primary);
}
