.sidenav {
  position: fixed;
  top: 250px;
  right: 20px;
  width: 120px;
  height: auto;
  background: var(--bg);
  border: 1px solid var(--color-primary);
  border-radius: 12px;
  padding: 12px 8px;
  z-index: var(--z-sidenav);
}

.sidenav-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidenav-item:nth-child(1) {
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 15px;
}

.sidenav-btn {
  width: 100%;
  min-height: 20px;
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.sidenav-btn:hover {
  color: var(--color-primary);
  text-decoration-line: underline;
  text-decoration-color: var(--color-primary);
}

@media (max-width: 1024px) {
  .sidenav {
    display: none;
  }
}
