/* ================= Design Tokens ================= */
:root {
  /* layers */
  --z-hero-overlay: 100;
  --z-hero-content: 101;
}

/* ===================== Reset ===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  background-color: #ffffff;
  color: #0f0f0f;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

button {
  all: unset;
  cursor: pointer;
}
